h1 {
    text-align: center;
}

div {
    width: 500px;
    margin: auto;
    margin-top: 200px;
    text-align: center;
}

input {
    font-size: 100%;
    border-width: 0px;
    background-color: white;
    width: 60px;
    color: black;
}

.visible {
    visibility: visible;
    color: red;
    text-align: center;
}

.invisible {
    visibility: hidden;
}
